.idea/
__pycache__/
.vscode/
resolution_coreferences_pronominales/.idea/
resolution_coreferences_pronominales/.vscode/

resolution_coreferences_pronominales/tests/tests-spacy.py

uninstall.sh

resolution_coreferences_pronominales/data/phrases_tmp

resolution_coreferences_pronominales/data/brouillon

resolution_coreferences_pronominales/jdm_text_processing/details_pos.txt

resolution_coreferences_pronominales/jdm_text_processing/data/all-POS-from-jdm.txt

resolution_coreferences_pronominales/jdm_text_processing/data/JDM-all-IS_POS-relations.txt

resolution_coreferences_pronominales/jdm_text_processing/extract-all-POS-from-jdm.py
