.idea/
__pycache__/
.vscode/
resolution_coreferences_pronominales/.idea/
resolution_coreferences_pronominales/.vscode/

resolution_coreferences_pronominales/tests/tests-spacy.py

uninstall.sh

resolution_coreferences_pronominales/data/phrases_tmp

resolution_coreferences_pronominales/data/brouillon
/venv/
